/* {% load static cache %}  */
{% cache 3600 fonts %}
@font-face {
  font-family: 'AN';
  src: url('{% static "common/fonts/an-italic-webfont.eot" %}'); /* {#  IE9 Compat Modes #} */
  src: url('{% static "common/fonts/an-italic-webfont.eot?#iefix" %}') format('embedded-opentype'), /* {#  IE6-IE8 #} */
       url('{% static "common/fonts/an-italic-webfont.woff" %}') format('woff'), /* {#  Pretty Modern Browsers #} */
       url('{% static "common/fonts/an-italic-webfont.ttf" %}')  format('truetype'), /* {#  Safari, Android, iOS #} */
       url('{% static "common/fonts/an-italic-webfont.svg#svgFontName" %}') format('svg'); /* {#  Legacy iOS #} */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AN';
  src: url('{% static "common/fonts/an-bold-webfont.eot" %}'); /* {#  IE9 Compat Modes #} */
  src: url('{% static "common/fonts/an-bold-webfont.eot?#iefix" %}') format('embedded-opentype'), /* {#  IE6-IE8 #} */
       url('{% static "common/fonts/an-bold-webfont.woff" %}') format('woff'), /* {#  Pretty Modern Browsers #} */
       url('{% static "common/fonts/an-bold-webfont.ttf" %}')  format('truetype'), /* {#  Safari, Android, iOS #} */
       url('{% static "common/fonts/an-bold-webfont.svg#svgFontName" %}') format('svg'); /* {#  Legacy iOS #} */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AN';
  src: url('{% static "common/fonts/an-regular-webfont.eot" %}'); /* {#  IE9 Compat Modes #} */
  src: url('{% static "common/fonts/an-regular-webfont.eot?#iefix" %}') format('embedded-opentype'), /* {#  IE6-IE8 #} */
       url('{% static "common/fonts/an-regular-webfont.woff" %}') format('woff'), /* {#  Pretty Modern Browsers #} */
       url('{% static "common/fonts/an-regular-webfont.ttf" %}')  format('truetype'), /* {#  Safari, Android, iOS #} */
       url('{% static "common/fonts/an-regular-webfont.svg#svgFontName" %}') format('svg'); /* {#  Legacy iOS #} */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
{% endcache %}