version: "3.2"

services:  
  traefik:
    image: "traefik:v2.2"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email=postmaster@inkandfeet.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped

  db:
    image: postgres
    ports:
     - 5432:5432
    env_file:
      - ".env"
    volumes:
     - ./postgres-data:/var/lib/postgresql/data
     # restart: unless-stopped

  redis:
    image: redis:6.0-alpine
    container_name: inkshop_redis
    # restart: unless-stopped

  inkshop:
    build: .
    env_file: .env
    depends_on:
      - db
      - redis
      # - couchdb
      # - rabbitmq
    volumes:
      - ./inkshop:/project/inkshop
    labels:
      # - "traefik.enable=true"
      # - "traefik.frontend.passHostHeader=true"
      # - "traefik.frontend.rule=Host: ${INKSHOP_DOMAIN}"
      - "traefik.port=8120"
      - "traefik.docker.network=inkshop"
      - "traefik.enable=true"
      # - "traefik.http.routers.inkshop.passHostHeader=true"
      - "traefik.http.routers.inkshop.rule=Host(`${INKSHOP_DOMAIN}`)"
      - "traefik.http.routers.inkshop.entrypoints=websecure"
      - "traefik.http.routers.inkshop.tls.certresolver=myresolver"
    env_file:
      - ".env"
    command: bash -c 'service nginx start; cd /project; PYTHONIOENCODING="utf-8" python3 manage.py collectstatic --noinput --settings=inkshop.envs.dev; honcho start -f Procfile.dev'
    tty: true
    stdin_open: true
    # restart: unless-stopped

networks:
  default:
    external:
      name: inkshop

volumes:
  traefik:
    driver_opts:
      type: none
      device: /root/server-docker-images/data/traefik
      o: bind
  