# Django Config
DB_PASSWORD=password
PORT=8120
ENV=dev
DJANGO_SETTINGS_MODULE=inkshop.envs.dev
PYTHONIOENCODING=utf-8
DJANGO_SECRET_KEY=SECRET_KEY_HERE

# Inkshop
INKSHOP_DOMAIN=mycompany.com
INKSHOP_NAMESPACE=mycompany
INKSHOP_FRIENDLY_NAME=My Company Name
INKSHOP_ENCRYPTION_KEY=ENCRYPTION_KEY_HERE

INKSHOP_ADMIN_NAME=Jill Williams
INKSHOP_ADMIN_EMAIL=jill@mycompany.com
INKSHOP_FROM_EMAIL=notifications@mycompany.com


MAILGUN_API_KEY=key-12345678901234567890
MAILGUN_SENDER_DOMAIN=mail.mycompany.com

AWS_STORAGE_BUCKET_NAME=inkshop.mycompany.com
AWS_S3_HOST=s3-us-west-2.amazonaws.com


# Services and Infrastructure
RABBITMQ_ERLANG_COOKIE=09876543098765432
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

POSTGRES_DB=inkshop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secured_password
