# The newsletters you send out.
organization:
    name: ExampleCo
    address: 123 1st St, Anytown, 87654, Country
    transactional_footer: |
                            You're receiving this email because {{ transactional_send_reason }}.   Normally, there's an unsubscribe link down here, but to be able to {{ transactional_no_unsubscribe_reason }}, there isn't a way to unsubscribe.
                            
                            However, if you want to completely delete your account, you can do that by [going here]({{ delete_account_link }}).
                            
                            This email was sent by me, Jill Example, of {{ organization_address }}

monthly:
    name: My Monthly Newsletter
    internal_name: monthly
    description: Learn about the latest here at ExampleCo, and hear what we have coming up
    from_email: "person@example.com"
    from_name: "Jill ExampleCo"
    unsubscribe_footer: |
                          Don't want any more email from us?  No problem.  [Click here to unsubscribe]({{ unsubscribe_link }}).

                          You're receiving this email because you signed up back on {{ signed_up_at|date }}.  It was sent by me, Jill Example, of ExampleCo.

                          ExampleCo, Inc is based at {{ organization_address }}




    confirm_subject: "You're almost subscribed."
    confirm_body: |
                          Hey {{ first_name | capfirst }},
                          
                          You're almost there.  Click the link below to confirm your subscription and start receiving the our newsletter.  
                          
                          {{ opt_in_link }}
                          
                          
                          Thanks, and we can't wait to have you aboard!
                          
                          -Steven
                          
                          
                          p.s.  If you didn't sign up for our newsletters, and are looking at this message like, "What is this thing?  Who are these people?", it looks like someone else (or a robot) submitted it to our website.  You don't need to do anything - if the link above isn't clicked in 7 days, your address will be deleted completely from our systems.
                          
                          Here are the signup details, if you're curious.
                          
                          We received a signup request from this page {{ subscription_url }} at {{ subscribed_at }} from this IP address {{ subscribed_from_ip }}.


    welcome_subject: "Welcome to our Newsletter!"
    welcome_body: |
                          Hey {{ first_name | capfirst }},
                          
                          Welcome aboard!   You're all signed up.  Please give a quick read to the below, so you know what you're in for.
                          
                          *What you'l get:*
                          Every month, you'll get a newsletter from us that has some thoughts from Jill, the latest happenings at ExampleCo, and probably some pretty bad puns.  You've been warned.
                          
                          *Your subscription isn't forever, unless you want it to be.*
                          Our newsletter works a little differently than other mailing lists that continually fill our inboxes.
                          
                          See, our list *can automatically unsubscribe you*.
                          
                          Here's how it works.  At the bottom of every letter, there's a link you can click to tell us you really loved that email - and get a coupon on things that were featured in the newsletter. (You do something nice for us, we do something nice for you. :)  )
                          
                          If you haven't clicked that you loved them on any newsletters in six months, we'll send you an email telling you you're about to be unsubscribed, and giving you a link to re-confirm.
                          
                          If you don't confirm from that message, after a week, you'll be unsubscribed and your information will be deleted from our systems.
                          
                          We look at it as our little part in keeping inboxes clean, and motivation to make a newsletter that you really love.
                          
                          *Want to unsubscribe sooner?*
                          No problem. There's a link that says "Unsubscribe" at the bottom of every message.  Spend your life engaging with the stuff you care about.  If that's not our newsletters, no worries.  We won't be offended. :)
                          
                          *Thank you.*
                          One last thing - thank you.  
                          
                          We started as a small company trying to be an example out there - ExampleCo - and every time we see new lovely people like you sign up for our lists, it makes us inspired to keep the good stuff coming.
                          
                          Thanks. :) 
                          
                          See you soon,
                          
                          -Jill and everyone here at Example Co
                          
                          
                          p.s. Did you love this email?  [Click here]({{ loved_link }}) to let us know, keep your subscription active, and get this month's coupons. :)


# These people can receive emails and buy things as normal,
# but you won't ever see replies from them.
troll_emails:
  - troll@example.com
  - hater@example.net


# People using these emails will never be allowed in the system.  
# It's a space for those terrible exes, abusive customers, or people you don't want to deal with.
# People on this list cannot subscribe, buy products, or do anything in the system.
# (If they try, they'll either get a silent failure, or for purchases, a "purchase failed" response)
banned_emails:
  - jerk@example.net
  - whatiswrongwithyou@example.org