<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oh dear.  We ran into a problem.</title>
    <style type="text/css">
    	.hero_image {
    		display: block;
    		width: 60%;
    		margin: 20px auto;
    	}
    	body {
    		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    		text-align: center;
    	}
    	p { 
    		max-width: 800px;
		    display: block;
		    margin: 0 auto;
		    font-size: 20px;
		    font-weight: 300;
    	}    </style>
</head>
<body>
  <div>
  		<img src="https://s3.eu-west-3.amazonaws.com/static.inkandfeet.com/common/img/eek-worried.png" class="hero_image" />
	      <h1>Oh dear.</h1>
    	  <p>We had trouble loading that page.  The system has sent us a message about it, but please feel free to reach out <a href="mailto:steven@inkandfeet.com">directly</a>, and we'll try to get you sorted out!</p>
  </div>
</body>
  