{% extends "google_meta.html" %}{% load static %}

{% block pre_meta %}<!doctype html >
<html itemscope itemtype="http://schema.org/CreativeWork" class="{% block html_extra_classes %}{% endblock %}" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">{% if organization and organization.favicon %}
    <link rel="shortcut icon" href="{{ RESOURCES_URL }}{{organization.favicon.name}}">{% endif %}
{% endblock %}

{% block meta %}{{block.super}}{% endblock %}

{% block post_meta %}
    {% block css %}{% endblock %}

{% block extra_head %}{% endblock %}
    {% block head_js %}<script>
        window.inkshop = window.inkshop || {};
        window.inkshop.page_url = "{{ url }}";
        window.inkshop.site_data_url = "{{site_data_url}}";
        window.inkshop.site_data;
    </script>{% endblock %}
</head>

<body {% block body_extra %}{% endblock %}>
    {% block body %}{% block nav %}
    {% endblock %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock %}{% endblock body %}
    {% block js %}{% endblock %}
</body>
</html>{% endblock %}