{% extends "products/7-day-sprint/purchase_base.html" %}{% load static inkshop_helpers  compile_static %}


{% block nav %}{% endblock %}
{% block content %}
<script type="text/javascript">
  localStorage.removeItem('inkshop_logged_in');
</script>
<div id="content">
  <div class="no_nav public_purchase logged_out" id="inkshopApp">
    <div class="inkshopPage active error">
      <h2 class="center">You're logged out.  Have a great day!</h2>
    
      <img class="hero" src="{% static 'products/7-day-sprint/img/walkerton-600.png' %}"/>
      <div class="center">
        <p>You have have been logged out successfully.</p>
        <p>If you'd like to log back in, <a href="{% url 'login' %}">click here</a>.</p>
      </div>
    
          
    </div>
  </div>
</div>
{% endblock %}
