{% load i18n %}{% autoescape off %}
Hey there!

You're receiving this email because you just requested a password reset over at Ink and Feet.

To set your new password, just click on the link below, and you'll be on your way!

<a href="https://courses.inkandfeet.com/accounts/password-reset/{{uid}}/{{token}}/">https://courses.inkandfeet.com/accounts/password-reset/{{uid}}/{{token}}/</a>

If that doesn't get you sorted out, just hit reply, and I'm happy to help.

-Steven and the Ink & Feet monsters. :)

p.s. If this *wasn't* you, that measns that someone (probably a robot) filled in your email into my password reset form.  In that case, feel free to delete this email.

{% endautoescape %}