{% extends "products/7-day-sprint/purchase_base.html" %}{% load static inkshop_helpers  compile_static %}

{% block title %}Password reset complete.{% endblock %}
{% block description %}You're all set. Your new password has been saved.{% endblock %}
{% block content %}
<div id="content">
  <div class="public_purchase login password_reset" id="inkshopApp">
    <div class="inkshopPage active error">
    	<h2 class="center">You're all set.</h2>
  		<img class="hero" src="{% static 'products/7-day-sprint/img/eek-happy.png' %}"/>
 		<p class="center">Your new password has been saved.  Go ahead and log in!</p>
        <div class="endcap_button">
	    	<a href="{% url 'login' %}" type="submit" class="button toggleable_button">Log In</a>
	    </div>
    </div>
  </div>
</div>
{% endblock %}
