{% extends "products/7-day-sprint/purchase_base.html" %}{% load static inkshop_helpers  compile_static %}

{% block title %}Set your new password.{% endblock %}
{% block description %}Choose a new password, and we'll update it..{% endblock %}

{% block content %}
<div id="content">
  <div class="public_purchase login password_reset" id="inkshopApp">
    <div class="inkshopPage active error">
    	{% if validlink %}
	    	<h2 class="center">Welcome back! Let's get you a fresh password.</h2>
      		<img class="hero" src="{% static 'products/7-day-sprint/img/eek-happy.png' %}"/>
	 		<p>Enter your new password below. Ideally something long, and unique to this site.</p>
		    <form method="POST" action=".">
			    {% csrf_token %}
			    {{ form.errors }}
			    {{ form.as_p }}
		        {% if request.GET.next %}
		        <input type="hidden" name="next" value="{{ request.GET.next }}" />
		        {% else %}
		        {% endif %}
		        <div class="endcap_button">
			    	<button type="submit" class="">Set New Password</button>
			    </div>
		   </form>
		{% else %}
		<h2 class="center">Hmm.  Something's odd.</h2>
      	<p class="center">The link you clicked wasn't valid.</p>
      	<p class="center">Often this is because it's already been used (we make them one-time use only for security.)</p>
      	<p class="center">But not to worry. Just  <a href="{% url 'admin_password_reset' %}">request a new link</a>, and you'll be all set.</p>
	      <img class="hero" src="{% static 'products/7-day-sprint/img/eek-worried-600.png' %}"/>
      
		{% endif %}
    </div>
  </div>
</div>
{% endblock %}
