{% extends "products/7-day-sprint/purchase_base.html" %}{% load static inkshop_helpers  compile_static %}

{% block content %}
<div id="content">
  <div class="public_purchase login" id="inkshopApp">
    <div class="inkshopPage active error">
      <h2 class="center">Lost password? Let's get you fixed up.</h2>
      <p class="center">Just enter your email, and we'll send you a link to reset your password.</p>
      <img class="hero" src="{% static 'products/7-day-sprint/img/eek-worried-600.png' %}"/>
      <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <div class="endcap_button">
              <button type="submit">Reset My Password</button>
            </div>
      </form>
      <div class="center">
          Remembered it?  Hop over and <a href="{% url 'login' %}">log in!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
