{% extends "products/7-day-sprint/purchase_base.html" %}{% load static inkshop_helpers  compile_static %}


{% block title %}Password reset email sent.{% endblock %}
{% block description %}An email has been sent to start the password reset process.{% endblock %}

{% block content %}
<div id="content">
  <div class="public_purchase login" id="inkshopApp">
    <div class="inkshopPage active error">
      <h2 class="center">A link is on its way!</h2>
      <p class="center">Check your email, and your spam folder if it doesn't show up in a few seconds.</p>
      <p class="center">When it arrives, just click on the link!</p>
      <img class="hero" src="{% static 'products/7-day-sprint/img/eek-happy.png' %}"/>
      <div class="center">
          Remembered it?  Hop over and <a href="{% url 'login' %}">log in!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
