{% extends 'base.html' %}{% load static %}
{% block nav %}{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
	{% if validlink %}
    <div>
    	<h2>Change password</h2>
 		   <p>Please enter your new password below.</p>
	    <form method="POST">
	    {% csrf_token %}
	    {{ form.as_p }}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% else %}
        {% endif %}
	    <button type="submit" class="">Change Password</button>
	   </form>
	{% else %}
		  The password reset link was invalid, possibly because it has already been used.
    	Please request <a href="{% url 'admin_password_reset' %}">a new password reset</a>.
	{% endif %}
	</div>
  </div>
{% endblock %}
