{% extends "base.html" %}

{% block title %}Clubhouse{% endblock %}

{% block nav %}
<div class="nav">
    <div class="links">
        <a class="{% if page_name == 'dashboard' %}current{% endif %}" href="{% url 'clubhouse:dashboard' %}" >Dashboard</a>
        <a class="{% if page_name == 'messages' %}current{% endif %}" href="{% url 'clubhouse:messages' %}" >Messages</a>
        <a class="{% if page_name == 'subscriptions' %}current{% endif %}" href="{% url 'clubhouse:subscriptions' %}" >Subscriptions</a>
        <a class="{% if page_name == 'people' %}current{% endif %}" href="{% url 'clubhouse:people' %}" >People</a>
        <a class="{% if page_name == 'newsletters' %}current{% endif %}" href="{% url 'clubhouse:newsletters' %}" >Newsletters</a>
        <a class="{% if page_name == 'scheduled_newsletters' %}current{% endif %}" href="{% url 'clubhouse:scheduled_newsletters' %}" >Scheduled Newsletters</a>
        <a class="{% if page_name == 'logout' %}current{% endif %}" href="{% url 'logout' %}" >Logout</a>
    </div>
</div>

{% endblock %}
{% block content %}
    <h1>Welcome to the clubhouse. :) </h1> 
    <h1>Loved!!</h1>
    <p>&hearts;</p>
    <img src="adorable.gif"/>
{% endblock %}
