{% extends "base.html" %}

{% block title %}Clubhouse{% endblock %}

{% block nav %}
<div class="nav">
    <div class="links">
        <a class="{% if page_name == 'dashboard' %}current{% endif %}" href="{% url 'clubhouse:dashboard' %}" >Dashboard</a>
        <a class="{% if page_name == 'messages' %}current{% endif %}" href="{% url 'clubhouse:messages' %}" >Messages</a>
        <a class="{% if page_name == 'subscriptions' %}current{% endif %}" href="{% url 'clubhouse:subscriptions' %}" >Subscriptions</a>
        <a class="{% if page_name == 'people' %}current{% endif %}" href="{% url 'clubhouse:people' %}" >People</a>
        <a class="{% if page_name == 'posts' %}current{% endif %}" href="{% url 'clubhouse:posts' %}" >Posts</a>
        <a class="{% if page_name == 'pages' %}current{% endif %}" href="{% url 'clubhouse:pages' %}" >Pages</a>
        <a class="{% if page_name == 'templates' %}current{% endif %}" href="{% url 'clubhouse:templates' %}" >Templates</a>
        <a class="{% if page_name == 'resources' %}current{% endif %}" href="{% url 'clubhouse:resources' %}" >Resources</a>
        <a class="{% if page_name == 'newsletters' %}current{% endif %}" href="{% url 'clubhouse:newsletters' %}" >Newsletters</a>
        <a class="{% if page_name == 'scheduled_newsletter_messages' %}current{% endif %}" href="{% url 'clubhouse:scheduled_newsletter_messages' %}" >Scheduled Newsletters</a>
        <a class="{% if page_name == 'organization' %}current{% endif %}" href="{% url 'clubhouse:organization' %}" >Organization</a>
        <a class="{% if page_name == 'logout' %}current{% endif %}" href="{% url 'logout' %}" >Logout</a>
    </div>
</div>

{% endblock %}
{% block content %}
    <h1>Welcome to the clubhouse. :) </h1> 
    <h1>Loved!!</h1>
    <p>&hearts;</p>
    <img src="adorable.gif"/>
{% endblock %}
