{% extends "clubhouse/base.html" %}{% load static %}
{% block content %}
    <h1>Product {{product}}</h1>
    <p>&hearts;</p>
    {% if saved %}Saved{% endif %}
    <form method="POST" enctype="multipart/form-data" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    {% for f in product.feedback %}
    <div>
    {{ f.person }} at {{ f.created_at }}: 
    {{ f.data }}
	</div>
    {% endfor %}

    <a href="{% url 'clubhouse:delete_product' product.hashid %}">Delete Product</a>
{% endblock %}
