{% extends "base.html" %}
{% block title %}Inkshop Mail{% endblock %}
{% block css %}
    <style type="text/css">
        html {
            font-family: Sans-serif;
            font-weight: 200;
            text-align: center;
        }
        body {
            background: url("https://inkandfeet.com/cf/img/wood-background-1eb2bc89440a74570722d0eb6b2d07134-inkmd.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .giant_heart {
            font-size: 6em;
        }
        .reward_image {
            max-width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .reward_image img {
            text-align: center;
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
        .thanks {
            margin: 80px auto 20px auto;
            max-width: 600px;
            padding: 40px 20px;
            border-radius: 4px;
            border: 1px solid #AAA;
            background: #FFF;
            border: 1px solid transparent;
            border-bottom-color: rgba(255,255,255,.97);
            border-right-color: rgba(255,255,255,.97);
            box-shadow: 1px 3px 3px rgba(0,0,0,.3);
        }
        h2 {
            font-size: 40px;
        }
        p {
            text-align: left;
            width: 80%;
            margin-left: 10%;
        }
        @media (max-width: 480px) {
            .giant_heart {
                font-size: 4em;
            }
            .thanks {
                padding: 4px;
            }
            p {
                width: 90%;
                margin-right: 5%;
            }
            .reward_image {
                width: 90%;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="thanks">

        <h2>Hey there!</h2>

        <div class="giant_heart">👋 💌</div>

        <p>You've made your way to the home page of an <a href="https://github.com/inkandfeet/inkshop">Inkshop</a> website.</p>

        <p>Maybe you were just curious what was here?  Maybe you were looking for <a href="https://inkandfeet.com/letter">the letters</a>?</p>

        <p>Either way, thanks for stopping by!</p>
        

        <p>-Steven</p>
        <!-- <p>&hearts;</p> -->
    </div>
{% endblock %}