{% load compile_static %}{% load static compress %}<html>
<head>
  {% block head %} 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block css %}

    {# {% include 'material/includes/material_css.html' %} #}
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "common/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "common/css/font-awesome-4.7.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "common/flags/flags.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "common/css/base.less"|compile %}" >
    <link rel="stylesheet" type="text/css" href="{% static "common/css/external-fonts.css" %}" >
    {# <link rel="stylesheet" type="text/css" href="{% static "dashboard/css/dashboard.less"|compile %}" > #}
    {# <link rel="stylesheet" type="text/css" href="{% static "dashboard/css/today.less"|compile %}" > #}
    {% endblock %}

    <!-- <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Questrial;Comic+Nue&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet"> -->
    {# <link href="https://fonts.googleapis.com/css2?family=Material+Icons&family=Questrial&family=Comic+Neue&display=swap" rel="stylesheet"> #}
  {% endblock %}
</head>
<body class="">
  <div class="wrapper">
  {% block nav %}
  
  {% endblock %}
  {% block content %}

  {% endblock %}
  </div>
  {% block script %}
    <!-- Compiled and minified JavaScript -->

    <script src="{% static "common/js/moment.min.js" %}"></script>
    <script src="{% static "common/js/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static "common/js/popper.min.js" %}"></script>
    <script src="{% static "common/js/bootstrap.min.js" %}"></script>
    <script src="{% static "common/js/vue.min.js" %}"></script>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Questrial|Comic+Nue" rel="stylesheet"> -->
    <script src="{% static "common/js/sortable.min.js" %}"></script>
    <script src="{% static "common/js/vue-sortable.min.js" %}"></script>
    <script src="{% static "common/js/vue-moment.min.js" %}"></script>
    <script src="{% static "common/js/reconnecting-websocket.js" %}"></script>
    <script src="{% static "common/js/inkstore.js" %}"></script>
    <script src="{% static "common/js/vueComponents.js" %}"></script>
    <script src="{% static "products/js/howler.min.js" %}"></script>
    <script>
      setTimeout(function() {
        console.log("///////////////////////////////////////// Check")
        if (window.Cypress) {
          // we are running in Cypress
          // so do something different here
          console.log("/////////////////////////////////////////");
          console.log("///////// Running Cypress");
          inkshop.state.env = 'test'
          var sheet = window.document.styleSheets[0];
          sheet.insertRule('* { transition: none !important; scroll-behavior: auto !important; }', sheet.cssRules.length);
          console.log("///////// Inserting CSS")
          console.log("/////////////////////////////////////////");
        } else {
          console.log("/////////////////////////////////////////");
          console.log("///////// Prod mode!");
          // we are running in a regular ol' browser
          inkshop.state.env = 'prod'
        }
      }, 500)
    </script>

    
    {% endblock %}
</body>
</html>